In [94]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import tree
import pandas as pd
import numpy as np
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import GradientBoostingClassifier
from joblib import dump

In [2]:
df = pd.read_csv('./heart_failure_clinical_records_dataset.csv')
df.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    int64
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    int64
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    int64
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    int64
 10  smoking                   299 non-null    int64
 11  time                      299 non-null    int64
 12  DEATH_EVENT               299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB

In [21]:
df.describe()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
count,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.00000,299.000000,299.000000,299.00000,299.000000,299.00000
mean,60.833893,0.431438,581.839465,0.418060,38.083612,0.351171,263358.029264,1.39388,136.625418,0.648829,0.32107,130.260870,0.32107
std,11.894809,0.496107,970.287881,0.494067,11.834841,0.478136,97804.236869,1.03451,4.412477,0.478136,0.46767,77.614208,0.46767
min,40.000000,0.000000,23.000000,0.000000,14.000000,0.000000,25100.000000,0.50000,113.000000,0.000000,0.00000,4.000000,0.00000
25%,51.000000,0.000000,116.500000,0.000000,30.000000,0.000000,212500.000000,0.90000,134.000000,0.000000,0.00000,73.000000,0.00000
50%,60.000000,0.000000,250.000000,0.000000,38.000000,0.000000,262000.000000,1.10000,137.000000,1.000000,0.00000,115.000000,0.00000
75%,70.000000,1.000000,582.000000,1.000000,45.000000,1.000000,303500.000000,1.40000,140.000000,1.000000,1.00000,203.000000,1.00000
max,95.000000,1.000000,7861.000000,1.000000,80.000000,1.000000,850000.000000,9.40000,148.000000,1.000000,1.00000,285.000000,1.00000

In [3]:
df.shape

(299, 13)

In [4]:
df.columns

Index(['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes',
       'ejection_fraction', 'high_blood_pressure', 'platelets',
       'serum_creatinine', 'serum_sodium', 'sex', 'smoking', 'time',
       'DEATH_EVENT'],
      dtype='object')

In [5]:
features = ['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes',
       'ejection_fraction', 'high_blood_pressure', 'platelets',
       'serum_creatinine', 'serum_sodium', 'sex', 'smoking']

In [6]:
X = df[features]
y = df['DEATH_EVENT']

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 2)

In [90]:
clf = GradientBoostingClassifier(max_depth=3)
pipe = make_pipeline(StandardScaler(), clf)
pipe.fit(X_train, y_train)
pipe.score(X_test, y_test)

0.8

In [93]:
test = [34, 0, 200, 0, 60, 0, 300000, 1000, 140, 1, 0]
test_bad = [80, 1, 7861, 1, 20, 1, 850000, 2.7, 110, 1, 1]
#test_pred = pipe.predict_proba(np.array([test_bad]))
test_pred = pipe.predict_proba(X_test)
print(test_pred)

[[0.97639176 0.02360824]
 [0.66004814 0.33995186]
 [0.25672561 0.74327439]
 [0.86759158 0.13240842]
 [0.08376883 0.91623117]
 [0.08166678 0.91833322]
 [0.21127928 0.78872072]
 [0.84901571 0.15098429]
 [0.96050004 0.03949996]
 [0.94309464 0.05690536]
 [0.9669876  0.0330124 ]
 [0.89844885 0.10155115]
 [0.78695026 0.21304974]
 [0.63389604 0.36610396]
 [0.95088436 0.04911564]
 [0.69068297 0.30931703]
 [0.98408466 0.01591534]
 [0.90878142 0.09121858]
 [0.94824909 0.05175091]
 [0.91608928 0.08391072]
 [0.02120897 0.97879103]
 [0.65321449 0.34678551]
 [0.11378451 0.88621549]
 [0.85814678 0.14185322]
 [0.57381045 0.42618955]
 [0.46078345 0.53921655]
 [0.9188578  0.0811422 ]
 [0.84966734 0.15033266]
 [0.95047787 0.04952213]
 [0.93074057 0.06925943]
 [0.8883271  0.1116729 ]
 [0.20465579 0.79534421]
 [0.9119056  0.0880944 ]
 [0.62534904 0.37465096]
 [0.31128237 0.68871763]
 [0.98932201 0.01067799]
 [0.72864573 0.27135427]
 [0.2042847  0.7957153 ]
 [0.0599407  0.9400593 ]
 [0.96813902 0.03186098]
 [0.83139339 0.16860661]
 [0.54705824 0.45294176]
 [0.75014479 0.24985521]
 [0.99244195 0.00755805]
 [0.96513921 0.03486079]
 [0.08792821 0.91207179]
 [0.81300343 0.18699657]
 [0.96804251 0.03195749]
 [0.92354758 0.07645242]
 [0.98759416 0.01240584]
 [0.53151895 0.46848105]
 [0.97160599 0.02839401]
 [0.18956183 0.81043817]
 [0.87431444 0.12568556]
 [0.8216943  0.1783057 ]
 [0.05054171 0.94945829]
 [0.79215925 0.20784075]
 [0.38879996 0.61120004]
 [0.88325507 0.11674493]
 [0.93417244 0.06582756]]

In [95]:
dump(pipe, 'model.joblib')

['model.joblib']